.content {
  text-align: justify;

  h2 {
    padding: 3rem 0;
  }

  .illustration {
    height: 16rem;
    max-width: 100%;

    @media (max-width: map-get($grid-breakpoints, "lg")) {
      height: 12rem;
    }
  }

  .wave {
    height: auto;
    width: 100%;
  }
}
