html,
body {
  min-height: 100%;
}

.header {
  height: 100%;
  padding: 5rem 0;
  text-align: justify;

  .display-1,
  .display-2 {
    line-height: 3rem;
  }

  .illustration {
    width: 100%;
  }
}
