$white: #fff;
$dark: #343a40;
$primary: #5960a3;
$success: #2bbbad;
$warning: #ffbb33;
$danger: #ff3547;
$pink: #ec407a;
$ocean: #4096dd;

$navbar-padding-y: 1rem;

$display1-size: 3rem;
$display2-size: 2rem;
$display3-size: 1.5rem;
$display4-size: 1rem;

$font-family-sans-serif: 'Source Sans Pro', sans-serif, Arial;
$font-size-base: 1.05rem;

$line-height-base: 2;
